.cell{
    width: 75px;
    height: 75px;
    border: 2px solid rgb(255, 0, 183);
    /* outline: 2px solid black; gives an outline to already existing border */
    box-shadow: 0 0 0 2px pink;
    line-height:75px;
    font-size: 50px;
    cursor:  pointer;
}

#gameContainer{
    font-family:"Permanent Marker",cursive;
    text-align:center;
}

#cellContainer{
    display:grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin:auto;
}