.cell{
    width: 75px;
    height: 75px;
    border: 2px solid rgb(255, 0, 183);
    /* outline: 2px solid black; gives an outline to already existing border */
    box-shadow: 0 0 0 2px pink;
    line-height:75px;
    font-size: 50px;
    cursor:  pointer;
}

#gameContainer{
    font-family:"Permanent Marker",cursive;
    text-align:center;
}

#cellContainer{
    display:grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin:auto;
}

#memeOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background: black;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#memeVideo {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.flash {
  animation: flash 0.2s infinite;
}

@keyframes flash {
  0% { background: red; }
  50% { background: white; }
  100% { background: red; }
}

#moveSquare{
    /* justify-content: center;
    align-items: center; */
    margin: auto;
    width: 100px;
    height: 100px;
    /* background-color: black; */
    border: 5px solid aqua;
    text-align:center; 
    font-size: 50px;
    box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;

    animation-name:completeFlip;
    /* animation-name:spinRound; */
    animation-duration: 6s;

}

@keyframes completeFlip {
    0%{
        transform:rotateX(0deg);
    }
    25%{
        transform:rotateX(360deg);
    }
    26%{
        transform:rotateY(0deg);
    }
    50%{
        transform:rotateY(360deg);
    }
    51%{
        transform:rotateZ(0deg);
    }
    100%{
        transform:rotateZ(360deg);
    }

}

@keyframes frontFlip {
    0%{
        transform:rotateX(0deg);
    }
    100%{
        transform:rotateX(360deg);
    }
}

@keyframes sideFlip {
    0%{
        transform:rotateY(0deg);
    }
    100%{
        transform:rotateY(360deg);
    }

}

@keyframes zFlip {
    0%{
        transform:rotateZ(0deg);
    }
    100%{
        transform:rotateZ(360deg);
    }
}