

.cell{
    width: 75px;
    height: 75px;
    border: 2px solid rgb(255, 0, 183);
    /* outline: 2px solid black; gives an outline to already existing border */
    box-shadow: 0 0 0 2px pink;
    line-height:75px;
    font-size: 50px;
    cursor:  pointer;
}

#gameContainer{
    font-family:"Permanent Marker",cursive;
    text-align:center;
}

#cellContainer{
    display:grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin:auto;
    
}

/* #memeOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
} */




.flash {
  animation: flash 0.2s infinite;
  
}

@keyframes flash {
  0% { 
    opacity: 0.1;
    background: red; }
  50% { 
    opacity:0.5;
    background: white; }
  100% { 
    opacity:0.1;
    background: red; }
}

@keyframes completeFlip {
    0%   { transform: translate(-50%, -50%) rotateX(0deg); }
    25%  { transform: translate(-50%, -50%) rotateX(360deg); }
    26%  { transform: translate(-50%, -50%) rotateY(0deg); }
    50%  { transform: translate(-50%, -50%) rotateY(360deg); }
    51%  { transform: translate(-50%, -50%) rotateZ(0deg); }
    100% { transform: translate(-50%, -50%) rotateZ(360deg); }
}

#memeVideo {
  display: none;      /* Changed from none to test; change back if triggering via JS */
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 40vw;
  aspect-ratio: 9/16;
  object-fit: contain;
  
  /* CRITICAL FIX: Added duration (5s) and iteration count (infinite) */
  animation: completeFlip 5s linear infinite;
}





































/* @keyframes frontFlip {
    0%{
        transform:rotateX(0deg);
    }
    100%{
        transform:rotateX(360deg);
    }
}

@keyframes sideFlip {
    0%{
        transform:rotateY(0deg);
    }
    100%{
        transform:rotateY(360deg);
    }

}

@keyframes zFlip {
    0%{
        transform:rotateZ(0deg);
    }
    100%{
        transform:rotateZ(360deg);
    }
} */